// Place all the styles related to the Shoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Bree Serif', serif;
  background-image: url('sneaker_mesh_fabric.png');
}
h1 {
  font-family: 'Poppins', sans-serif;
}