// Place all the styles related to the Shoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Bree Serif', serif;
  background-image: url('sneaker_mesh_fabric.png');
}
h1 {
  font-family: 'Poppins', sans-serif;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  /* Part 1: Set a maxium relative to the parent */
  max-width: 100%;

  /* IE7-8 need help adjusting responsive images */
  width: auto\9;

  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  height: auto;

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.well {
  background-color: white;
  border-radius: 2%;
  max-height: 550px;
  overflow: scroll;
}

.discount-item {
  color: red;
}