<h1>Here is your Image:</h1>

  <h3>Name:</h3>
  <p><%= @image.url %></p></a>

<a href="/images" class="btn btn-default">Back to All Images</a>
<p></p>

<%= form_tag "/images/#{@image.id}", method: :delete do %>
<input type="submit" value="Remove Image">
<% end %>
<p></p>
<a href="/images/<%= @image.id %>/edit" class="btn btn-default">Update Image</a>